* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  background: #eee;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}


/* header */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  border-bottom: 1px solid black;
  /*  background-image: linear-gradient(to bottom, #eee 0%, #FDFC47 15%, #00f260 60%, #0575e6 100%);*/
}

image-box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  line-height: 0;
  /*  background-image: url(http://www.architectureexposed.com/uploads/113/projects/334/pictures/chemistry_research_building_oxford_university_england_1.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
}

image-box>img {}


/*
image-box {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  column-count: 5;
  column-gap: 0;
  line-height: 0;
}

image-box>img {
  margin: 0;
  padding: 0;
  display: inline;
  width: 100% !important;
  height: auto !important;
}
*/

title-box {
  z-index: 2;
  display: block;
  text-align: center;
  width: 100%;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadegrow {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* fill="rgb(116, 147, 165)"*/

title-box>h1 {
  display: block;
  font-weight: 300;
  margin: -30px 0 -90px 0;
  font-size: 20em;
  letter-spacing: -0.05em;
  margin-left: -0.05em;
  animation: fadegrow 1.8s ease-in-out;
}

title-box>h2 {
  font-weight: 300;
  font-size: 1.3em;
  animation: fadein 1.8s ease-in-out;
}

#quicklink {
  font-size: 1.5em;
  margin-top: 90px;
  display: inline-block;
  padding: 10px 20px;
  background: rgba(94, 118, 132, 0.5);
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid transparent;
  border-radius: 2px;
  animation: fadein 1.8s ease-in-out;
}

#quicklink:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

#quicklink:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
}

#newlogo {
  width: 0.66em;
  height: 1.3em;
  display: inline-block;
  margin-right: -0.04em;
}

@keyframes floaty {
  from {
    cy: 80%;
    rx: 14%;
    ry: 7.1%;
  }
  to {
    cy: 0%;
    rx: 4%;
    ry: 2%;
  }
}

.bubbleanimation {
  animation: floaty 2.5s ease-in;
  transform-origin: center;
}

.bubbleanimation:nth-child(2) {
  animation-delay: 0.37s;
}

.bubbleanimation:nth-child(3) {
  animation-delay: 0.77s;
}

@media only screen and (max-width: 850px){
  title-box>h1 {
    font-size: 7em;
    margin: 0;
  }
  title-box>h2 {
    font-size: 1em;
  }
  #quicklink {
    font-size: 1em;
  }
}

.formpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.formpage content-holder {
  max-width: 700px;
}

section {
  padding: 30px;
}

section h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: center;
}

section p {
  margin: 5px 0;
  line-height: 1.5em;
}

about-deets,
#events>ul,
links-box,
com-list {
  max-width: 1000px;
  margin: 0 auto;
  width: calc(100% - 20px);
}

@media only screen and (max-width: 850px){
  section{
    padding: 5px;
  }
}

#about {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background: rgb(94, 118, 132);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  justify-content: space-around;
}

about-deets {
  display: block;
  text-align: center;
  line-height: 1.8em;
  font-size: 1.1em;
  letter-spacing: 0.04em;
}

links-box {
  margin: 0 auto;
  text-align: center;
}

links-box>a {
  display: inline-block;
  margin: 10px;
  font-size: 1.2em;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background: rgb(94, 118, 132);
  color: #eee;
  font-weight: 300;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: all 0.2s ease-in-out;
}

links-box>a:hover {
  color: rgb(94, 118, 132);
  background: #eee;
}

@media only screen and (max-width: 850px) {
  about-deets {
    text-align: left;
    margin: 30px auto;
  }
}

#events>ul>li {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

date-box {
  padding: 5px 5px 10px 5px;
  text-align: center;
  background: rgb(93, 156, 193);
  border-top: 10px solid rgb(63, 109, 147);
  border-radius: 2px 2px 5px 5px;
  color: white;
  min-width: 6em;
}

date-box>p {
  font-size: 1.3em;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

event-deets {
  padding: 10px;
  background-image: linear-gradient(to right, rgba(93, 156, 193, 0.3), transparent);
  border-radius: 2px 5px 5px 5px;
  color: #222;
  margin-left: 10px;
}

event-deets>img {
  float: right;
  max-height: 200px;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  transform: rotate(2deg);
}

event-deets>p {
  margin-top: 10px;
}

@media only screen and (max-width: 550px) {
  #events>ul>li {
    display: list-item;
  }
  date-box {
    display: block;
    padding: 5px 0;
    border-radius: 2px 5px;
    background: rgba(93, 156, 193, 0.8);
    border-top-width: 7px;
  }
  date-box>p {
    display: inline-block;
    margin: 0 5px;
  }
  event-deets {
    display: block;
  }
  event-deets>img {
    max-height: 150px;
  }
}

com-list {
  display: flex;
  justify-content: center;
}

com-list>ul {
  flex-grow: 1;
}

com-list>ul:first-child {
  text-align: left;
}

com-list>ul:nth-child(2) {
  /*  text-align: right;*/
  text-align: left;
}

com-list>ul:first-child>li>img {
  float: left;
}

com-list>ul:nth-child(2)>li>img {
  /*  float: right;*/
  float: left;
}

com-list>ul>li {
  margin: 5px;
}

com-list>ul>li>img {
  height: 80px;
  border-radius: 5px;
  margin: 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

com-list>ul>li::after {
  clear: both;
  content: "";
  display: block;
}

com-list>ul>li>a {
  color: rgb(0, 84, 118);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid transparent;
}

com-list>ul>li>a:hover {
  border-bottom: 1px solid rgb(0, 84, 118);
}

@media only screen and (max-width: 850px) {
  com-list {
    display: block;
  }
}


/* footer */

footer {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  background: rgb(94, 118, 132);
  padding: 30px 10px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

credit-box>img {
  width: 100px;
  margin-bottom: -15px;
}

sponsors-box {
  text-align: right;
}

sponsors-box>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

sponsors-box h4 {}

sponsors-box ul>li {
  margin: 5px 0;
}

sponsors-box ul>li>a {
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid transparent;
}

sponsors-box ul>li>a:hover {
  border-bottom: 1px solid white;
}

sponsors-box img {
  height: 200px;
  margin-left: 20px;
}

sponsors-box>.button {
  display: inline-block;
}

@media only screen and (max-width: 700px) {
  footer>content-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  credit-box {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: left;
  }
  sponsors-box {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 100px;
    text-align: left;
  }
  sponsors-box li {
    padding: 5px 0;
  }
}

@media only screen and (max-width: 500px) {
  sponsors-box {
    display: block;
  }
  sponsors-box img {
    height: 120px;
  }
}
